

/*  (importing styles with a fallback file)

Just gonna leave this comedy gold question right here. 
The non-top-voted answers (including the accepted one) 
are just great. 
We might want to use it later for doing a default and custom
stylesheet side-by-side maybe -- it's a pretty nice solution. 

https://stackoverflow.com/questions/7383163/how-to-fallback-to-local-stylesheet-not-script-if-cdn-fails

We'd like to have a basic stylesheet included in every page
but disable it if we find the shared one to import. 
That would allow the .html file to be functional even 
as a standalone thing. 
We could also assume that this always-present default
would also be synonymous with using the .html file
in a standalone mode -- that it's probably open without
all the other pages and we could do some nav hiding 
based on that and so on. 
*/

/*  (external font loading in CSS)

Fonts aren't really friendly to offline pages. Not using them. 
But you could totally have a font file next to all the pages,
that would be fine. 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
*/


/* ----------- VARIABLES ------------ */

:root {
  --bg:           #272822;
  --text-base:    #EEE;
  --text-heading: #F92672;
  --text-code:    #A6E22E;
  --bg-code:      rgba(0,0,0,0.2);
  --quot-border:  #444;
  --text-link:    #66D9EF;
}


/* ----------- BASIC STYLES ------------ */

body {
  font-family: "Noto", "Ubuntu", sans-serif; /* TODO:  needs icons!  */
  
  background: var(--bg);
  color: var(--text-base);
  line-height: 1.4em;
  max-width: 36rem;

  padding: 4rem;
}


/* ----------- CONTENT TEXT -- GENERATED .MD CONTENT ------------ */

/* Headings */
h1, h2, h3, h4, h5 {
  color: var(--text-heading);
  margin-top: 2em;
  position: sticky; background: var(--bg); 
  padding: .25em;
}

h1 { margin-left: -3rem; top: 0;     z-index: 11; }
h1:before { content: "# "; }

h2 { margin-left: -2rem; top: 1.5em; z-index: 12; }
h2:before { content: "## "; }

h3 { margin-left: -1rem; top: 3.5em; z-index: 13; }
h3:before { content: "### "; }

h4 { margin-left: -0rem; position: initial; }
h4:before { content: "- "; }

/* Code and inline code */
code {
  color: var(--text-code);
  background: var(--bg-code);
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 2px;
  white-space: pre;  /* Don't space out as in source text */
}

/* Code block */
pre > code {
  display: block;
  border-radius: 0px;

  color: var(--text-code);
  padding: 0.5rem;

  overflow-x: auto;
}

/* Quotes (>) */
blockquote {
  border-left: 0.5rem solid var(--quot-border);
  margin-left: -1rem;
  padding-left: 0.5rem;
}

/* Links */
a, a:visited {
  color: var(--text-link);
}

/* Lists without margin at the start */
p + ul {
  margin-top: -0.75rem;
}

/* I use italics as comments about future plans */
i, em {
  opacity: 0.8;
}


/* ----------- NAVIGATION TOP-BLOCK W/ LINKS ------------ */

nav {
  padding: 1em;
  background: var(--bg-code);
  
  --hover: black;
  --click: white;
  --current: white; 
}
nav a,
nav span {
  display: block;
  
  margin: 0; padding: .325em; line-height: 1;
  
  font-weight: bold;
}

nav a {
  cursor: pointer;
  /* transition: background 100ms linear; */
}
/*  mixin pointable */
nav a:hover  {  background: var(--hover);  }
nav a:active {  background: var(--click); }
nav span { background: var(--current); color: black; }

