<!doctype html>
        <head>
          <meta charset='utf-8'>
          <meta name='viewport' content='width=device-width,initial-scale=1'>
          <title> Recipe.md </title>
          <link rel='stylesheet' href='../../styles.css' />
        </head>
        <body>
          <nav> 
<a href='../Concepts/Browning.html' >  testdata/Concepts/Browning.md  </a>
<a href='../Concepts/Deglazing.html' >  testdata/Concepts/Deglazing.md  </a>
<a href='../Concepts/The golden trio.html' >  testdata/Concepts/The golden trio.md  </a>
<a href='../Ideas.html' >  testdata/Ideas.md  </a>
<a href='../Recipes/Maggits.html' >  testdata/Recipes/Maggits.md  </a>
<a href='../Recipes/Tomasoup.html' >  testdata/Recipes/Tomasoup.md  </a>
<a href='../Recipes/i-Pan_sauce.html' >  testdata/Recipes/i-Pan_sauce.md  </a>
<a href='../Recipes/r-Bolognese.html' >  testdata/Recipes/r-Bolognese.md  </a>
<a href='../Recipes/r-Garam masala.html' >  testdata/Recipes/r-Garam masala.md  </a>
<a href='../Recipes/r-Tikka.html' >  testdata/Recipes/r-Tikka.md  </a>
<a href='../Recipes/🥒 Dill pickles.html' >  testdata/Recipes/🥒 Dill pickles.md  </a>
<a href='../TODO.html' >  testdata/TODO.md  </a>
<span>  testdata/Templates/Recipe.md  </span>
 </nav>
          <main> <p>{{date}}  {{time}}</p>
<h1>Foreword</h1>
<h1>Health</h1>
<h1>The Recipe</h1>
<h1>Tips</h1>
 </main>
        </body>